/* PS4 Custom Overlay - Alignment & Scaling Fix */

/* 1. Reset and Center the Base */
.controller.ds4.white {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZbase.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 800px; /* Adjust based on your image width */
    height: 500px; /* Adjust based on your image height */
}

/* 2. Fix Button Positioning */
/* This prevents buttons from stacking on the left */
.ds4.white .button, 
.ds4.white .stick, 
.ds4.white .face, 
.ds4.white .trigger, 
.ds4.white .bumper {
    background-repeat: no-repeat !important;
}

/* Face Buttons (X, O, Square, Triangle) */
.ds4.white .button {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/Fzface.png) !important;
}

/* Analog Sticks */
.ds4.white .stick {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZsticks.png) !important;
}

/* D-Pad */
.ds4.white .face {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZdpad.png) !important;
}

/* Triggers & Bumpers */
.ds4.white .trigger {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZtriggers.png) !important;
}
.ds4.white .bumper {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZbumper.png) !important;
}

/* Hide original White Skin parts that might be leaking through */
.ds4.white { background-color: transparent !important; }
