/* PS4 Custom Overlay - High Priority Camo Version */

/* 1. KILL DEFAULT SKIN - This removes the white/red background entirely */
.controller.ds4.white, 
.ds4.white .trigger, 
.ds4.white .bumper, 
.ds4.white .stick, 
.ds4.white .face, 
.ds4.white .button {
    background-image: none !important;
    background-color: transparent !important;
}

/* 2. FORCE YOUR ASSETS */

/* Base Camo Body */
.controller.ds4.white {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZbase.jpg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* Disconnected View */
.ds4.white.disconnected {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZdisconnected.jpg) !important;
}

/* Triggers & Bumpers */
.ds4.white .trigger {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZtriggers.png) !important;
}
.ds4.white .bumper {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZbumper.png) !important;
}

/* Share/Options */
.ds4.white .back, .ds4.white .start {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZstart.png) !important;
}

/* Face Buttons (X, O, etc.) */
.ds4.white .button {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/Fzface.png) !important;
}

/* Analog Sticks */
.ds4.white .stick {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZsticks.png) !important;
}

/* D-Pad Arrows */
.ds4.white .face {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZdpad.png) !important;
}
