/* PS4 Custom Overlay - Camo Only (No White/Red Default) */

/* 1. Remove the default PS4 skin images completely */
.ds4.white {
    background-image: none !important;
}

.ds4.white .trigger,
.ds4.white .bumper,
.ds4.white .stick,
.ds4.white .face,
.ds4.white .button {
    background-image: none !important;
}

/* 2. Apply your custom assets from GitHub */

/* Base Camo Body */
.controller.ds4.white {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZbase.jpg) !important;
}

/* Disconnected View */
.ds4.white.disconnected {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZdisconnected.jpg) !important;
}

/* Triggers (L2/R2) */
.ds4.white .trigger {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZtriggers.png) !important;
}

/* Bumpers (L1/R1) */
.ds4.white .bumper {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZbumper.png) !important;
}

/* Start/Share */
.ds4.white .back, .ds4.white .start {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZstart.png) !important;
}

/* Face Buttons (X, O, etc.) */
.ds4.white .button {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/Fzface.png) !important;
}

/* Sticks */
.ds4.white .stick {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZsticks.png) !important;
}

/* D-Pad Arrows */
.ds4.white .face {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZdpad.png) !important;
}
