/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZbase.png);
}

.ds4.white.disconnected {
    background: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZdisconnected.png);
}

.ds4.white .trigger {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZtriggers.png);
}

.ds4.white .bumper {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZbumper.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZstart.png);
}

.ds4.white .button {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/Fzface.png);
}

.ds4.white .stick {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZsticks.png);
}

.ds4.white .face {
    background-image: url(https://raw.githubusercontent.com/Dani1307/Dani1307.github.io/main/FZdpad.png);
}

/*END PS4 White Controller Styling*/


